<ion-header>
  <ion-toolbar>
    <ion-title>Nouveau</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #placeForm="ngForm" (submit)="validate()">
    <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="presentActionSheet()">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
    <ion-img [src]="place.imageUrl"></ion-img>

    <ion-item>
      <ion-toggle [(ngModel)]="enableLocation" name="enableLocation" (ionChange)="getLocation()"></ion-toggle>
      <ion-label>Lier ma position gps</ion-label>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Titre</ion-label>
      <ion-input [(ngModel)]="place.title" name="title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-input [(ngModel)]="place.description" name="description" placeholder="Entrer une description" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="place.type" name="type" okText="OK" cancelText="Annuler" required>
        <ion-select-option *ngFor="let type of placeTypes" [value]="type">{{ type }}</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="ion-text-center ion-padding-top">
      <ion-button color="primary" type="submit" [disabled]="!placeForm.valid">Valider
      </ion-button>
    </div>
  </form>
</ion-content>